body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container, .dashboard-container, .horarios-container, .eventos-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.disciplinas-container{
    width: 50%;
    margin: 50px auto;
    border: black;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.horarios-container, .eventos-container {
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Limite máximo de largura */
}

.btn-editar {
    background-color: blue;
    color: white;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn-excluir {
    background-color: red;
    color: white;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"], input[type="password"], input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #102E4C;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0a1f33;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #102E4C;
    color: white;
}

.error {
    color: red;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #102E4C;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0a1f33;
}

.small-text {
    font-size: 12px; /* Ajuste o tamanho conforme necessário */
}

.full-width {
    width: 100%; /* Imagem ocupa a largura total da célula */
    height: auto; /* Mantém a proporção da imagem */
}
